pytest
wheel
setuptools
backports.zoneinfo;python_version<"3.9"
pandas 
scikit-learn
seaborn
fastai
transformers
simpletransformers
nltk
spacy
gensim
plotly
notebook
jupyter
ipywidgets
gradio
plotly
matplotlib
torch